/*
Variables couleurs
*/
$couleur-primaire: rgb(231, 224, 210);
$couleur-secondaire: rgb(132, 107, 96);

$couleur-selection: rgb(232, 85, 36);
$couleur-attente: rgb(243, 186, 97);
$couleur-valide: rgb(142, 188, 62);
$couleur-invalide: rgb(232, 85, 36);
$couleur-text-invalide: white;
$couleur-lien: rgb(34, 68, 238);

/*
Elements par défaut
*/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom correspondant a la hauteur du footer */
  margin-top: 60px;
  margin-bottom: 100px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: $couleur-primaire;
}

/*
Couleurs des boutons dans la partie gestion des competences
*/
.couleur-verte {
  color: $couleur-valide;
}
.couleur-jaune {
  color: rgb(243, 148, 0);
}
.couleur-bleue {
  color: rgb(83, 173, 207);
}
.couleur-rouge {
  color: rgb(232, 85, 36);
}
.couleur-grise {
  color: rgb(122, 122, 122);
}

/*
Couleurs des textes
*/

.couleur-text-selection {
  color: $couleur-selection;
}
.couleur-text-valide {
  color: $couleur-valide;
}
.couleur-text-invalide {
  color: $couleur-text-invalide;
}
.couleur-text-lien {
  color: $couleur-lien;
}

/*
Couleurs des background
*/
.couleur-valide-bg {
  background-color: $couleur-valide;
}
.couleur-attente-bg {
  background-color: $couleur-attente;
}
.couleur-invalide-bg {
  background-color: $couleur-invalide;
}

/*
Pour aligner les éléments du Footer
*/

.container-fluid {
  height: 100%;
  display: table;
  width: 100%;
  padding: 0;
}
.row-fluid {
  height: 100%;
  width: 1200px;
  display: table-cell;
  vertical-align: middle;
}

/*
Barre de navigation
*/

.navbar {
  background-color: $couleur-primaire;
  margin: 0;
}
.navbar-inverse {
  border-color: $couleur-primaire;
}
.navbar-default .navbar-brand {
  color: $couleur-secondaire;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  color: #ffffff;
  background-color: $couleur-selection;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  color: $couleur-selection;
}
.navbar-right {
  line-height: 50px;
}

/*
Panel
*/

.panel-body {
  background-color: #f5f5f5;
}
.panel-default > .panel-heading {
  color: #ffffff;
  background-color: $couleur-secondaire;
  font-variant: small-caps;
}
.heading {
  color: #ffffff;
  background-color: $couleur-secondaire;
}

/*
Boite de dialogue (modal)
*/

.modal-dialog {
  width: 800px;
}

/*
Tooltip
*/

.tooltip.top > .tooltip-inner {
  background-color: $couleur-primaire;
  color: black;
}
.tooltip.top > .tooltip-arrow {
  border-top-color: $couleur-primaire;
}
.tooltip.bottom > .tooltip-inner {
  background-color: $couleur-primaire;
  color: black;
}
.tooltip.bottom > .tooltip-arrow {
  border-bottom-color: $couleur-primaire;
}
.tooltip.right > .tooltip-inner {
  background-color: $couleur-primaire;
  color: black;
}
.tooltip.right > .tooltip-arrow {
  border-right-color: $couleur-primaire;
}
.tooltip.in {
  opacity: 1;
  filter: alpha(opacity=100);
}

/*
Autres
*/

.logo {
  margin-right: 15px;
}
.cursor-pointer {
  -webkit-user-select: none;
  -khtml-user-drag: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
.center {
  display: block;
  margin: 0 auto;
}
.center-text-loader {
  margin: 0 auto;
  width: 210px;
}
.glyphicon-gestion {
  width: 16px;
  height: 16px;
  margin: 0 0 0 2px;
}
.separation-competence {
  margin: 5px 0;
  border-top: 1px solid black;
}

/*
Boutons
*/

.btn-gestion-competences {
  color: #ffffff;
  background-color: #817571;
  border-color: #ffffff;
}
.btn-gestion-competences:hover {
  color: #ffffff;
  background-color: #817571;
  border-color: #bb9999;
}
.btn-gestion-competences.btn.active, .btn:active {
  color: #ffffff;
  background-image: none;
  background-color: $couleur-selection;
  border-color: #ffffff;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

/*
Liste arborescente
*/

div.panel:first-child {
  margin-top: 20px;
}
div.treeview {
  min-width: 100px;
  min-height: 100px;
  max-height: 256px;
  overflow: auto;
  padding: 4px;
  margin-bottom: 20px;
  color: $couleur-lien;
  border: solid 1px;
  border-radius: 4px;
}
div.treeview ul:first-child:before {
  display: none;
}
.treeview, .treeview ul {
  margin: 0;
  padding: 0;
  list-style: none;
  color: $couleur-lien;
}
.treeview ul {
  margin-left: 1em;
  position: relative
}
.treeview ul ul {
  margin-left: .5em
}
.treeview ul:before {
  content: "";
  display: block;
  width: 0;
  position: absolute;
  top: 0;
  left: 0;
  border-left: 1px solid;
  /* creates a more theme-ready standard for the bootstrap themes */
  bottom: 15px;
}
.treeview li {
  margin: 0;
  padding: 0 1em;
  line-height: 2em;
  font-weight: 700;
  position: relative
}
.treeview ul li:before {
  content: "";
  display: block;
  width: 10px;
  height: 0;
  border-top: 1px solid;
  margin-top: -1px;
  position: absolute;
  top: 1em;
  left: 0
}
.tree-indicator {
  margin-right: 5px;
  cursor: pointer;
}
.treeview li a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.treeview li button, .treeview li button:active, .treeview li button:focus {
  text-decoration: none;
  color: inherit;
  border: none;
  background: transparent;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  outline: 0;
}
